[Desktop Entry]
Keywords[it]=Scorciatoie;
Keywords[lt]=Spartieji klavišai;
Comment[nl_NL]=Sneltoetsen
Keywords[nl_NL]=Sneltoetsen;
Name=Shortcuts
Keywords=Shortcuts;
X-VeraCC-Section=Personal
Name[hu]=Rövidítések
Name[nl_NL]=Sneltoetsen
Icon=preferences-desktop-keyboard-shortcuts
Name[lt]=Spartieji klavišai
Comment[hu]=Rövidítések
Comment[lt]=Spartieji klavišai
Comment[it]=Scorciatoie
Keywords[es]=Atajos de teclado;
Name[es]=Atajos de teclado
Comment[es]=Atajos de teclado
Name[it]=Scorciatoie
Comment=Shortcuts
Keywords[hu]=Rövidítések;

