[Desktop Entry]
Categories=Qt;KDE;System;FileTools;FileManager;X-MandrivaLinux-System-FileTools;
Comment[en_US]=
Comment=
Exec=caja
GenericName[en_US]=File Manager
GenericName=File Manager
GenericName[af]=Lﾃｪerbestuurder
GenericName[ar]=ﾙ・ｯﾙ韓ｱ ﾙ・・・ｧﾘｪ
GenericName[as]=爬ｨ爬･爬ｿ爬ｪ爬､爰財ｧｰ爰ｰ 爬ｪ爰ｰ爬ｿ爬壟ｦｾ爬ｲ爬・
GenericName[ast]=Xestor de ficheros
GenericName[be@latin]=Kiraﾅｭnik fajﾅＢﾅｭ
GenericName[be]=ﾐ墫毛ﾐｰﾑ榧ｽﾑ孟ｺ ﾑ・ｰﾐｹﾐｻﾐｰﾑ・
GenericName[bg]=ﾐ､ﾐｰﾐｹﾐｻﾐｾﾐｲ ﾐｼﾐｵﾐｽﾐｸﾐｴﾐｶﾑ貫
GenericName[bn]=爬ｫ爬ｾ爬・ｦｲ 爬ｮ爰財ｦｯ爬ｾ爬ｨ爰・ｦ憫ｦｾ爬ｰ
GenericName[bn_IN]=爬ｫ爬ｾ爬・ｦｲ 爬ｪ爬ｰ爬ｿ爬壟ｦｾ爬ｲ爬ｨ 爬ｬ爰財ｦｯ爬ｬ爬ｸ爰財ｦ･爬ｾ
GenericName[bs]=Menadﾅｾer datoteka
GenericName[ca@valencia]=Gestor de fitxers
GenericName[ca]=Gestor de fitxers
GenericName[cs]=Sprﾃ｡vce souborﾅｯ
GenericName[csb]=Menadﾅｼera lopkﾃｳw
GenericName[da]=Filhﾃ･ndtering
GenericName[de]=Dateimanager
GenericName[el]=ﾎ釆ｹﾎｱﾏ・ｵﾎｹﾏ∃ｹﾏρ・ｮﾏ・ﾎｱﾏ・・ｵﾎｯﾏ火ｽ
GenericName[en_GB]=File Manager
GenericName[eo]=Dosieradministrilo
GenericName[es]=Gestor de archivos
GenericName[et]=Failihaldur
GenericName[eu]=Fitxategi-kudeatzailea
GenericName[fa]=ﾙ・ｯﾛ鈷ｱ ﾙｾﾘｱﾙ異・ｯﾙ・
GenericName[fi]=Tiedostonhallinta
GenericName[fr]=Gestionnaire de fichiers
GenericName[fy]=Triembehearder
GenericName[ga]=Bainisteoir Comhad
GenericName[gl]=Xestor de ficheiros
GenericName[gu]=爼ｫ爼ｾ爼・ｪｲ 爼ｵ爿財ｪｯ爼ｵ爼ｸ爿財ｪ･爼ｾ爼ｪ爼・
GenericName[he]=ﾗ槞ﾗ蕃・ﾗｧﾗ泰ｦﾗ燮・
GenericName[hi]=爨ｫ爨ｼ爨ｾ爨・､ｲ 爨ｪ爭財､ｰ爨ｬ爨も､ｧ爨・
GenericName[hne]=爨ｫ爨ｾ爨・､ｲ 爨ｪ爭財､ｰ爨ｬ爨も､ｧ爨・
GenericName[hr]=Upravitelj datoteka
GenericName[hsb]=Datajowy manager
GenericName[hu]=Fﾃ｡jlkezelﾅ・
GenericName[ia]=Gerente de file
GenericName[id]=Manajer Berkas
GenericName[is]=Skrﾃ｡astjﾃｳri
GenericName[it]=Gestore dei file
GenericName[ja]=繝輔ぃ繧､繝ｫ繝槭ロ繝ｼ繧ｸ繝｣
GenericName[ka]=痺､痺雪・痺壯ヴ痺黛・痺｡ 痺帋・痺雪Β痺例ヵ痺批・痺・
GenericName[kk]=ﾐ､ﾐｰﾐｹﾐｻ ﾐｼﾐｵﾐｽﾐｵﾐｴﾐｶﾐｵﾑﾑ・
GenericName[km]=癰癰倔汳癰倔棡癰ｷ癰低楮窶吟桙癲低椢癰批沂癰ゃ汳癰壯桷窶吟椡癰癰溂楔癰・
GenericName[kn]=犂歩ｲ｡犂､ 犂ｵ犁財ｲｯ犂ｵ犂ｸ犁財ｲ･犂ｾ犂ｪ犂・
GenericName[ko]=甯護攵 ・・ｬ・・
GenericName[ku]=Rﾃｪveberﾃｪ Pelan
GenericName[lt]=Failﾅｳ tvarkyklﾄ・
GenericName[lv]=Failu pﾄ〉valdnieks
GenericName[mai]=爨ｫ爨ｾ爨・､ｲ 爨ｪ爭財､ｰ爨ｬ爨も､ｧ爨・
GenericName[mk]=ﾐ慴ｵﾐｽﾐｰﾑ渙ｵﾑ ﾐｽﾐｰ ﾐｴﾐｰﾑひｾﾑひｵﾐｺﾐｸ
GenericName[ml]=犇ｫ犇ｯ犇ｲ犒坂・犇ｨ犇游ｴ､犒財ｴ､犇ｿ犇ｪ犒財ｴｪ犒≒ｴ歩ｴｾ犇ｰ犇ｨ犒坂・
GenericName[mr]=爨ｫ爨ｾ爨謂､ｲ 爨ｵ爭財､ｯ爨ｵ爨ｸ爭財､･爨ｾ爨ｪ爨・
GenericName[ms]=Pengurus Fail
GenericName[nb]=Filbehandler
GenericName[nds]=Dateipleger
GenericName[ne]=爨ｫ爨ｾ爨・､ｲ 爨ｪ爭財､ｰ爨ｬ爨ｨ爭財､ｧ爨・
GenericName[nl]=Bestandsbeheerder
GenericName[nn]=Filhandsamar
GenericName[oc]=Gestionari de fichiﾃｨrs
GenericName[or]=牀ｫ牀ｾ牀・ｬｲ 牀ｪ牀ｰ牀ｿ牀壟ｬｾ牀ｳ牀・
GenericName[pa]=爲ｫ爲ｾ爲・ｨｲ 爲ｮ爻謂ｨｨ爻・ｨ憫ｨｰ
GenericName[pl]=Zarzﾄ・zanie plikami
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Gestionar de fiﾈ冓ere
GenericName[ru]=ﾐ頒ｸﾑ・ｿﾐｵﾑび・ｵﾑ ﾑ・ｰﾐｹﾐｻﾐｾﾐｲ
GenericName[se]=Fiilagieﾄ疎halli
GenericName[si]=犖憫ｷ憫ｶｱ犢・犖壟ｷ・ｶｸ犖ｱ犢鐘ｶ壟ｶｻ犢・
GenericName[sk]=Sprﾃ｡vca sﾃｺborov
GenericName[sl]=Upravljalnik datotek
GenericName[sr@ijekavian]=ﾐ慴ｵﾐｽﾐｰﾑ渙ｵﾑ ﾑ・ｰﾑ侑ｻﾐｾﾐｲﾐｰ
GenericName[sr@ijekavianlatin]=Menadﾅｾer fajlova
GenericName[sr@latin]=Menadﾅｾer fajlova
GenericName[sr]=ﾐ慴ｵﾐｽﾐｰﾑ渙ｵﾑ ﾑ・ｰﾑ侑ｻﾐｾﾐｲﾐｰ
GenericName[sv]=Filhanterare
GenericName[ta]=牋歩ｯ金ｮｪ牘財ｮｪ牘・牋ｮ牘・ｮｲ牋ｾ牋ｳ牋ｰ牘・
GenericName[te]=牴ｦ牴ｸ牾財ｰ､牾財ｰｰ牴ｾ牴ｲ 牴・ｰｭ牴ｿ牴歩ｰｰ牾財ｰ､
GenericName[tg]=ﾐ慯σｴﾐｸﾑﾐｸ ﾑ・ｰﾐｹﾐｻﾒｳﾐｾ
GenericName[th]=犹犧・ｸ｣犧ｷ犹謂ｸｭ犧・ｸ｡犧ｷ犧ｭ犧謂ｸｱ犧扉ｸ≒ｸｲ犧｣犹≒ｸ游ｹ霞ｸ｡
GenericName[tr]=Dosya Yﾃｶnetici
GenericName[ug]=ﾚｾﾛ・ｬﾘｬﾛ娩ｪ ﾘｨﾘｧﾘｴﾙぽ・ｱﾘｺﾛ・
GenericName[uk]=ﾐ慴ｵﾐｽﾐｵﾐｴﾐｶﾐｵﾑ ﾑ・ｰﾐｹﾐｻﾑ孟ｲ
GenericName[uz@cyrillic]=ﾐ､ﾐｰﾐｹﾐｻ ﾐｱﾐｾﾑ惟嶢ｰﾑﾑσｲﾑ・ｸﾑ・ｸ
GenericName[uz]=Fayl boshqaruvchisi
GenericName[vi]=B盻・qu蘯｣n lﾃｽ t蘯ｭp tin
GenericName[wa]=Manaedjeu di fitchﾃｮs
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=譁・ｻｶ邂｡逅・勣
GenericName[zh_TW]=讙疲｡育ｮ｡逅・藤
Icon=system-file-manager
InitialPreference=10
MimeType=inode/directory;
Name[en_US]=caja
Name=caja
Name[af]=Dolphin
Name[ar]=ﾘｯﾙ異・・館・
Name[as]=Dolphin
Name[ast]=Dolphin
Name[be@latin]=Dolphin
Name[be]=Dolphin
Name[bg]=Dolphin
Name[bn]=爬｡爬ｲ爬ｫ爬ｿ爬ｨ
Name[bn_IN]=Dolphin
Name[bs]=Delfin
Name[ca@valencia]=Dolphin
Name[ca]=Dolphin
Name[cs]=Dolphin
Name[csb]=Dolphin
Name[da]=Dolphin
Name[de]=Dolphin
Name[el]=Dolphin
Name[en_GB]=Dolphin
Name[eo]=Dolphin
Name[es]=Dolphin
Name[et]=Dolphin
Name[eu]=Dolphin
Name[fi]=Dolphin
Name[fr]=Dolphin
Name[fy]=Dolfyn
Name[ga]=Dolphin
Name[gl]=Dolphin
Name[gu]=爼｡爿金ｪｲ爿財ｪｫ爼ｿ爼ｨ
Name[he]=Dolphin
Name[hi]=爨｡爭霞､ｲ爭財､ｫ爨ｼ爨ｿ爨ｨ
Name[hne]=爨｡爨ｾ爨ｲ爭財､ｫ爨ｿ爨ｨ
Name[hr]=Dolphin
Name[hsb]=Dolphin
Name[hu]=Dolphin
Name[ia]=Dolphin
Name[id]=Dolphin
Name[is]=Dolphin
Name[it]=Dolphin
Name[ja]=Dolphin
Name[ka]=Dolphin
Name[kk]=Dolphin
Name[km]=Dolphin
Name[kn]=犂｡犂ｾ犂ｲ犁財ｲｫ犂ｿ犂ｨ犁・
Name[ko]=Dolphin
Name[ku]=Dolphin
Name[lt]=Dolphin
Name[lv]=Dolphin
Name[mai]=爨｡爨ｾ爨ｲ爭財､ｫ爨ｿ爨ｨ
Name[mk]=ﾐ頒ｵﾐｻﾑ・ｸﾐｽ
Name[ml]=犇｡犒金ｴｳ犒坂財ｴｫ犇ｿ犇ｨ犒坂・
Name[mr]=爨｡爭霞､ｲ爭財､ｫ爨ｿ爨ｨ
Name[ms]=Dolphin
Name[nb]=Dolphin
Name[nds]=Dolphin
Name[ne]=爨｡爨ｲ爭財､ｫ爨ｿ爨ｨ
Name[nl]=Dolphin
Name[nn]=Dolphin
Name[oc]=Dolphin
Name[or]=牀｡牀ｲ牀ｫ牀ｿ牀ｨ
Name[pa]=爲｡爲ｾ爲ｲ爲ｫ爲ｿ爲ｨ
Name[pl]=Dolphin
Name[pt]=Dolphin
Name[pt_BR]=Dolphin
Name[ro]=Dolphin
Name[ru]=Dolphin
Name[se]=Dolphin
Name[si]=犖ｩ犢憫ｶｽ犢癌ｷ・ｷ亭ｶｱ犢・
Name[sk]=Dolphin
Name[sl]=Dolphin
Name[sr@ijekavian]=ﾐ頒ｵﾐｻﾑ・ｸﾐｽ
Name[sr@ijekavianlatin]=Dolphin
Name[sr@latin]=Dolphin
Name[sr]=ﾐ頒ｵﾐｻﾑ・ｸﾐｽ
Name[sv]=Dolphin
Name[ta]=牋游ｮｾ牋ｲ牘財ｮｪ牋ｿ牋ｩ牘・
Name[te]=牴｡牴ｾ牴ｲ牾財ｰｫ牴ｿ牴ｨ牾・
Name[tg]=Dolphin
Name[th]=犧扉ｸｭ犧･犧游ｸｴ犧・
Name[tr]=Dolphin
Name[ug]=Dolphin
Name[uk]=Dolphin
Name[uz@cyrillic]=Dolphin
Name[uz]=Dolphin
Name[vi]=Dolphin
Name[wa]=Dolphin
Name[x-test]=xxDolphinxx
Name[zh_CN]=Dolphin
Name[zh_TW]=Dolphin
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.22
X-DocPath=dolphin/index.html
X-KDE-SubstituteUID=false
X-KDE-Username=