[Desktop Entry]
Version=1.0
Type=Application
Name=Conkyzen
Name[ar]=Conkyzen
Name[ast]=Conkyzen
Name[bg]=Conkyzen
Name[da]=Conkyzen
Name[el]=Conkyzen
Name[en_AU]=Conkyzen
Name[en_GB]=Conkyzen
Name[eu]=Conkyzen
Name[fi]=Conkyzen
Name[fr]=Conkyzen
Name[gl]=Conkyzen
Name[he]=Conkyzen
Name[hr]=Conkyzen
Name[hu]=Conkyzen
Name[id]=Conkyzen
Name[it]=Conkyzen
Name[ja]=Conkyzen
Name[kk]=Conkyzen
Name[ko]=Conkyzen
Name[lt]=Conkyzen
Name[ms]=Conkyzen
Name[nb]=Conkyzen
Name[nl]=Conkyzen
Name[oc]=Conkyzen
Name[pt]=Conkyzen
Name[pt_BR]=Conkyzen
Name[ru]=Conkyzen
Name[sk]=Conkyzen
Name[sl]=Conkyzen
Name[sv]=Conkyzen
Name[tr]=Conkyzen
Name[ug]=Conkyzen
Name[vi]=Conkyzen
Name[zh_CN]=Conkyzen
Name[zh_TW]=Conkyzen
Comment=Select your conky
TryExec=am-conkyzen
Exec=am-conkyzen
Icon=conky
Categories=GTK;Utility;TrayIcon;XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=false
