#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python3

override_dh_auto_configure:
	bake --configure install-directory=$(CURDIR)/debian/tmp

override_dh_python3:
	dh_python3 --no-guessing-deps

override_dh_auto_build:
	bake

override_dh_auto_install:
	bake install
#	chmod +x debian/tmp/usr/share/vera-plugin-openbox/openbox-vera-color.pyc

override_dh_auto_clean:
	bake clean
	-rm Recipe.conf
	dh_auto_clean
