Source: vera-plugin-desktop
Section: x11
Priority: optional
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Build-Depends: debhelper (>= 9), build-essential, bake, libvera-dev,
 libvera-vapi, libgnome-menu-3-dev, libcairo2-dev, libpeas-dev, libgtk2.0-dev, libgtk-3-dev, valac
Standards-Version: 3.9.5
Homepage: https://semplice-linux.org/
Vcs-Git: https://github.com/vera-desktop/vera-plugin-desktop.git
Vcs-Browser: https://github.com/vera-desktop/vera-plugin-desktop

Package: vera-plugin-desktop
Architecture: any
Multi-Arch: no
Depends: ${shlibs:Depends}, ${misc:Depends}, vera-desktop
Suggests: vera-plugin-desktop-vera-color-gtk3, vera-plugin-desktop-vera-color-gtk2
Description: vera desktop plugin
 vera-plugin-desktop is the vera plugin that handles the desktop.
 .
 In the current iteration, it sets the wallpaper and it also provides
 a nice application launcher.

Package: vera-plugin-desktop-vera-color-gtk3
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, vera-plugin-desktop
Replaces: vera-plugin-desktop (<< 1.0.5+numb1)
Breaks: vera-plugin-desktop (<< 1.0.5+numb1)
Description: vera desktop plugin - vera-color gtk3 module
 vera-plugin-desktop is the vera plugin that handles the desktop.
 .
 In the current iteration, it sets the wallpaper and it also provides
 a nice application launcher.
 .
 This package contains the vera-color gtk3 module, which permits to
 change on-the-fly the user interface color.

Package: vera-plugin-desktop-vera-color-gtk2
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, vera-plugin-desktop
Replaces: vera-plugin-desktop (<< 1.0.5+numb1)
Breaks: vera-plugin-desktop (<< 1.0.5+numb1)
Description: vera desktop plugin - vera-color gtk2 module
 vera-plugin-desktop is the vera plugin that handles the desktop.
 .
 In the current iteration, it sets the wallpaper and it also provides
 a nice application launcher.
 .
 This package contains the vera-color gtk2 module, which permits to
 change on-the-fly the user interface color.
