[Desktop Entry]
Keywords[it]=Scrivania
Keywords[lt]=Darbastalis
Comment[nl_NL]=Bureaubladvoorkeuren
Keywords[nl_NL]=Bureaublad
Name=Desktop
Keywords=Desktop
X-VeraCC-Section=Personal
Name[hu]=Asztal
Name[nl_NL]=Bureaublad
Icon=preferences-desktop-wallpaper
Name[lt]=Darbastalis
Comment[hu]=Asztal beállítások
Comment[lt]=Darbastalio nuostatos
Comment[it]=Preferenze della scrivania
Keywords[es]=Escritorio
Name[es]=Escritorio
Comment[es]=Preferencias del Escritorio
Name[it]=Scrivania
Comment=Desktop preferences
Keywords[hu]=Asztal

