[Desktop Entry]
Name[bg]=Мрежови връзки
Comment[ar]=أدِر وغيّر إعدادات الاتصالات الشبكية
Name[zh_HK]=網絡連線
Name[nb]=Nettverkstilkoblinger
Name[tr]=Ağ Bağlantıları
Comment[gu]=તમારા નેટવર્ક જોડાણ સુયોજનોને બદલો અને સંચાલિત કરો
Name[vi]=Kết nối mạng
Name[zh_CN]=网络连接
Name[he]=חיבורי רשת
Comment[pa]=ਆਪਣੀ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਸੈਟਿੰਗ ਦਾ ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਬਦਲੋ
Name[km]=ការ​តភ្ជាប់​បណ្ដាញ
Name[ar]=الاتصالات الشبكية
Comment[tr]=Ağ bağlantı ayarlarını yönetin ve değiştirin
Comment[fa]=تنظیمات اتصال شبکه خود را مدیریت و تغییر دهید
Name[fi]=Verkkoyhteydet
Comment[zh_HK]=管理與更改你的連線設定值
Comment[ur]=اپنے نیٹ ورک اتصال کی تبدیلی اور ادارت کریں
Comment[en_GB]=Manage and change your network connection settings
Name[mk]=Мрежни врски
Comment[af]=Bestuur en verander u netwerkverbinding-instellings
Name[gl]=Conexións de rede
X-GNOME-Bugzilla-Component=nm-connection-editor
Name[oc]=Connexions ret
Comment[mk]=Управувајте и променувајте ги поставувањата на Вашата мрежна врска
Exec=nm-connection-editor
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗ ସଂରଚନାକୁ ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pl]=Zarządzanie ustawieniami połączeń sieciowych
Comment[gl]=Xestione e cambie as súas configuracións de conexión de rede
Comment[ms]=Urus dan pinda tetapan sambungan rangkaian anda
Name[be]=Сеткавыя злучэнні
Name[sr]=Везе са мрежом
Name[gu]=નેટવર્ક જોડાણો
Comment[lt]=Tvarkykite ir keiskite savo tinklo ryšių nustatymus
Comment[ko]=네트워크 연결 설정을 관리하고 설정을 바꿉니다
Name[af]=Netwerkverbindings
Comment[el]=Διαχείριση και αλλαγή ρυθμίσεων των συνδέσεων δικτύου
Comment[id]=Kelola dan ubah tatanan sambungan jaringan Anda
Comment[nb]=Håndter og endre innstillinger for nettverksforbindelser
Name[zh_TW]=網路連線
Comment[nn]=Handter og endra innstillingar for nettverkstilkopling
Comment=Manage and change your network connection settings
Name[el]=Συνδέσεις δικτύου
Name[ug]=تور باغلىنىشلىرى
Name[bn_IN]=নেটওয়ার্ক সংযোগ
Name[pt]=Ligações de Rede
Name[ku]=Girêdanên torê
Name[sl]=Omrežne povezave
Comment[cs]=Spravovat a měnit nastavení připojení k síti
Comment[sv]=Hantera och ändra inställningar för dina nätverksanslutningar
Comment[lv]=Pārvaldiet un mainiet tīkla savienojumu iestatījumus
Name[eu]=Sareko konexioak
Comment[sr@latin]=Upravljajte i izmenite podešavanja vaših mrežnih veza
X-GNOME-Bugzilla-Bugzilla=GNOME
Comment[vi]=Quản lí và thay đổi thiết lập kết nối mạng
Comment[ro]=Administrați și modificați opțiunile conexiunilor de rețea
Comment[ku]=Girêdanên torê yên xwe birêve û sererast bike
Name[gd]=Ceanglaichean ri lìonraidhean
Name[mr]=नेटवर्क जोडणी
Comment[ja]=ネットワーク接続セッティングの管理と変更
StartupNotify=true
Comment[crh]=Şebeke bağlantısı tesbitleriñizni idare etiñiz ve değiştiriñiz
Comment[ta]=உங்களின் பிணைய இணைப்பு அமைவுகளை மேலாண்மை மற்றும் மாற்றவும்
Keywords[hu]=Hálózat;Kapcsolatok;
Name[ja]=ネットワーク接続
Name[sv]=Nätverksanslutningar
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿರ್ವಹಿಸಿ ಹಾಗು ಬದಲಾಯಿಸಿ
Name[sr@latin]=Veze sa mrežom
NotShowIn=KDE;
Name[ml]=ശൃംഖല ബന്ധങ്ങള്‍
Name[ta]=பிணைய இணைப்புகள்
Name[ko]=네트워크 연결
Keywords=Network;Connections;
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
Keywords[it]=Rete;Connessioni
Name[kk]=Желілік байланыстар
Comment[be]=Настройкі сеткавага злучэння
Name[pa]=ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ
Name[nn]=Nettverkstilkoplingar
Name[eo]=Retkonektoj
Comment[he]=ניהול ושינוי הגדרות חיבורי הרשת שלך
Name[te]=నెట్వర్కు అనుసంధానములు
Comment[zh_TW]=管理與變更您的連線設定值
Comment[fr]=Gérer et modifier les paramètres des connexions réseau
Name[fa]=اتصال‌های شبکه
Comment[ru]=Управление параметрами сетевых соединений
Comment[be@latin]=Kiruj i źmianiaj nałady sietkavych spałučeńniaŭ
Name[hi]=संजाल कनेक्शन
Terminal=false
Comment[hu]=A hálózati kapcsolatok kezelése és változtatása
Name[de]=Netzwerkverbindungen
Comment[km]=គ្រប់គ្រង និង​ផ្លាស់ប្ដូរ​ការ​កំណត់​ការ​តភ្ជាប់​បណ្ដាញ​របស់​អ្នក
Name[hu]=Hálózati kapcsolatok
Name[id]=Sambungan Jaringan
Comment[gd]=Stiùirich is atharraich roghainnean a' cheangail agad ris an lìonra
Comment[an]=Chestione y cambee os suyos achustes d'a connexión de ret
Keywords[es]=Red; Conexiones;
Name[es]=Conexiones de red
Keywords[lt]=Tinklas;Ryšiai;
Name[ur]=نیٹ ورک اتصال
Comment[nl]=De instellingen voor uw netwerkverbindingen beheren en bewerken
Icon=preferences-system-network
Comment[sk]=Spravuje a mení nastavenia vášho sieťového pripojenia
Comment[nl_NL]=Uw netwerkverbindingsinstellingen beheren en wijzigen
Comment[pt_BR]=Gerencie e altere suas configurações de conexão de rede
Comment[zh_CN]=管理或更改您的网络连接设置
Comment[de]=Einstellungen für Verbindungen mit Netzwerken verwalten
Name[ca]=Connexions de xarxa
Name[pt_BR]=Conexões de rede
Name[as]=নেটৱাৰ্ক সংযোগসমূহ
Name[nl_NL]=Netwerkverbindingen
Comment[ca]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Comment[bn_IN]=আপনার নেটওয়ার্ক সংযোগ বৈশিষ্ট্য সম্পাদন ও পরিবর্তন করুন
Comment[eu]=Kudeatu eta aldatu sareko konexioen ezarpenak
Name[cs]=Připojení k síti
Name[nl]=Netwerkverbindingen
Comment[eo]=Administri kaj ŝanĝi viajn retkonektajn agordojn
Comment[it]=Gestisci e modifica le impostazioni delle connessioni di rete
Comment[ca@valencia]=Gestioneu i modifiqueu els paràmetres de connexió de xarxa
Name[et]=Võrguühendused
Comment[te]=మీ నెట్వర్కు అనుసంధానము అమర్పులను నిర్వహించండి మరియు మార్చండి
Name[ast]=Conexones de rede
Comment[bg]=Управление и промяна на настройките на вашата мрежа
Comment[kk]=Сіздің желілік байланысыңызды басқару мен түзету
Name[da]=Netværksforbindelser
Name=Network Connections
Comment[sr]=Управљајте и измените подешавања ваших мрежних веза
Name[or]=ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକ
Comment[ast]=Xestiona y camuda los axustes de conexón de rede
X-VeraCC-Section=Network
Type=Application
Name[ca@valencia]=Connexions de xarxa
Name[th]=การเชื่อมต่อเครือข่าย
X-GNOME-Bugzilla-Product=NetworkManager
Comment[hi]=अपना संजाल कनेक्शन सेटिंग प्रबंधित करें और बदलें
Comment[pt]=Gerir e alterar as suas definições da ligação de rede
Name[lt]=Tinklo Ryšiai
Name[lv]=Tīkla savienojumi
Comment[es]=Gestionar y cambiar la configuración de su conexión de red
Name[uk]=Мережні з'єднання
Name[en_GB]=Network Connections
Name[it]=Connessioni di rete
Name[ms]=Sambungan-sambungan Rangkaian
Comment[as]=আপোনাৰ নেটৱাৰ্ক সংযোগক ব্যৱস্থাপনা আৰু সলনি কৰক
Name[sk]=Sieťové pripojenia
Name[be@latin]=Sietkavyja spałučeńni
Comment[sl]=Upravljanje in spreminjanje nastavitev omrežne povezave
Keywords[nl_NL]=Netwerk;Verbindingen;
Name[fr]=Connexions réseau
Comment[th]=จัดการและตั้งค่าการเชื่อมต่อเครือข่ายของคุณ
Comment[da]=Rediger og ændr dine indstillinger til netværksforbindelser
Comment[mr]=नेटवर्क संयोजना व्यवस्थापीत करा व बदला
Comment[et]=Võrguühenduse sätete haldus
Name[pl]=Połączenia sieciowe
Name[an]=Conexions de rete
Name[ru]=Сетевые соединения
Name[kn]=ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳು
Name[crh]=Şebeke Bağlantıları
Comment[ml]=നിങ്ങളുടെ ശൃംഖല ബന്ധങ്ങള്‍ സജ്ജീകരണങ്ങള്‍ കൈകാര്യം ചെയ്യുകയും മാറ്റങ്ങള്‍ വരുത്തുകയും ചെയ്യുക.
Comment[uk]=Керування параметрами мережних з'єднань
Name[ro]=Conexiuni de rețea
Comment[fi]=Hallitse ja muuta verkkoyhteyksien asetuksia
Comment[ug]=تور باغلىنىش تەڭشەكلىرىڭىزنى باشقۇرۇڭ ۋە ئۆزگەرتىڭ

