[Desktop Entry]
Keywords[it]=Temi
Keywords[lt]=Temos
Comment[nl_NL]=Thema's
Keywords[nl_NL]=Thema's
Name=Appearance
Keywords=Themes
X-VeraCC-Section=Personal
Name[hu]=Megjelenés
Name[nl_NL]=Uiterlijk
Icon=preferences-desktop-theme
Name[lt]=Išvaizda
Comment[hu]=Témák.
Comment[lt]=Temos.
Comment[it]=Temi.
Keywords[es]=Temas
Name[es]=Apariencia
Comment[es]=Temas.
Name[it]=Aspetto
Comment=Themes.
Keywords[hu]=Témák

