[Desktop Entry]
Keywords[it]=Pannello
Keywords[lt]=Skydelis
Comment[nl_NL]=Het paneel instellen
Keywords[nl_NL]=Paneel
Name=Panel
Keywords=Panel
X-VeraCC-Section=Personal
Name[hu]=Panel
Name[nl_NL]=Paneel
Icon=panel
Name[lt]=Skydelis
Comment[hu]=Panel beállítása
Comment[lt]=Konfigūruoti Skydelį
Comment[it]=Configura il pannello
Keywords[es]=Panel
Name[es]=Panel
Comment[es]=Configure el Panel
Name[it]=Pannello
Comment=Configure the Panel
Keywords[hu]=Panel

